.app {
    color: #333333;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1%;
}

a {
    text-decoration: none;
    color: #0037ae;
    color: #333333;
}

input,
button {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

img,
svg {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    padding: 0;
    margin: 0;

}


.app {
    font-size: calc(7px + 6 * (100vw / 1280));
}

h1 {
    font-size: calc(20px + 16 * (100vw / 1280));
    font-weight: 400;
}

h2 {
    font-size: calc(20px + 12 * (100vw / 1280));
}

h3 {
    font-size: calc(10px + 8 * (100vw / 1280));
    font-weight: 500;
}



@media (max-width: 767px) {
    .App {
        font-size: calc(8px + (11 + 11 * 0.7) * ((100vw - 320px) / 1280));
    }

    h1 {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }

    h2 {
        font-size: calc(20px + (12 + 12 * 0.7) * ((100vw - 320px) / 1280));
    }

    h3 {
        font-size: calc(17px + (9 + 9 * 0.7) * ((100vw - 320px) / 1280));
    }
}